
#home {
 
   height: 100%;
    display: -webkit-flex;
    display:   flex;
   -webkit-flex-flow: row wrap;
           flex-flow: row wrap;
     
      
}

 #home > md-card {
  
   margin: 10px;
   border-top: 5px solid springgreen;
   -webkit-flex: 3 1 20%;
           flex: 3 1 20%;
   -webkit-order: 1;
           order: 1;
          
   }
   
  
 /* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #home {
    -webkit-flex-flow: column;
            flex-flow: column;
   }

   #home > md-card {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #home > md-card{
    min-height: 50px;
    max-height: 50px;
   }
  }